/*applying color to paragraph 3*/
p {
	color: darkblue
}

* {
	font-family: "arial", monospace;
	font-size: 12px;
}

h1 {
	font-size: 36px;
}

h2 {

	text-transform: uppercase;
}

.bgcolor {
	background-color: palegreen;
}

li[value] {
	border-style: solid;
	border-width: 1px;
	border-color: skyblue;
}

h4 + img {
	height: 100px;
	width: 100px;
}

#this-is-image img {
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 5px;
}