CTRK + / -- comments in CSS*/
/*External Styling*/

CSS Rules

	selector {
		property: value;
	}
	h1 {
		color; yellow;

	}

/*Universal Selector*/
/*targets all elements in the HTML*/
/*The * symbol is the universal selector*/

* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}


html {

	scroll-behavior: smooth;
}

/*changes the scrolling behavior when clicking on anchor tags*/
body {

	background-color: skyblue;
}

nav {

	background-color: white;
}

a:hover {
	background-color: b4d6de;
}

/*selector:  hover pseudo class*/
/*changes the style when hovered over*/

/*Type Selector
/*tag-name*/



div {
	display: inline-block;
	float: right;
}

section {
	height:  100vh;
	text-align: center;
}


h2 {

	font-size: 1.5rem;
}

h1 {
	color: yellow !important;
}

ol {

	list-style: none;
}

/*register section*/

form {

	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border-radius: 15px;
}

/*ID Selector*/
/*#id-name*/

#zuitt-motto {
	letter-spacing: 5px;
}

/*h3 {
	letter-spacing: 25px;
}*/

/*Adjacent Sibling Selector*/
/*Selector + selector*/

/*h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}*/

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}


/*Class Selector*/
/*.class-name*/

.offering-item {
	text-transform: uppercase;
}

/*Descendant Selector*/
/*Selector selector*/

#bootcamp-learning-list li {
	color: #075966;
}

/*General Sibling Selector*/
/*selector ~ selector*/

h2 ~ a {
	text-decoration: none;
}

/*Child Selector*/
/*selector > selector*/

body > section > form > label {
	color:  rgb(0, 0, 128);

}

/*Attribute Selector*/
	/*tagname[attribute]*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

